* {
  box-sizing: border-box;
}

.title {
  font-family: sans-serif;
  font-size: 40px;
  color: green;
  text-align: center;
}

.pets {
  font-family: sans-serif;
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
  }
  &__item {
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
  }
  &__link {
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    transition: .2s all;
    padding: 15px;
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__price {
    color: green;
    font-weight: 700;
    font-size: 20px;
  }
}


nav {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}